/* Change colors here */
:root {
  /* text, socials, and button edge color */
  --jetblack-color: #323232;
  --white-color: #ffffff;
  --mustard-color: #ffde59;
  /* social icon highlighting color */
  --tertiary-color: hsla(0, 0%, 100%, 0.466);
  --border-rounding: 4px;
}

body {
  /* Set to use a background image and remove background-color */
  /* background-image: url('path_to_your_image.jpg'); */
  background-color: #ffffff; 
  color: var(--jetback-color);
  margin: 10% auto;
  /* Change your font here */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header{
  text-align: center;
  font-weight: 400;
}

a {
  color: var(--jetblack-color);
  text-decoration: none;
}

a:hover {
  color: var(--mustard-color);
}

h2 {
  margin: 0px;
}

.header-image {
  width: 150px;
  border-radius: 100px;
}

.title-block {
  margin: 0 auto;
  width: 300px;
}

.links {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

.link {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-rounding);
  cursor: pointer;
  border: 1px solid var(--jetblack-color);
  box-shadow: 4px 4px 0 0px var(--mustard-color);
  padding: 20px;
}

.link:hover {
  transform: scale(1.05);
  background-color: var(--mustard-color);
  color: var(--jetblack-color);
  box-shadow: 4px 4px 0 0px var(--jetblack-color);
}

.section {
  font-weight: 1;
  text-align: center;
}

.link-image {
  width: 100%;
  border-radius: var(--border-rounding);
  padding-top: 5px;
  padding-bottom: 5px;
}

.large-padding {
  padding: 10px;
}

.standard-padding {
  padding: 5px;
}

.small-padding {
  padding: 5px;
}